<ion-header>
  <ion-toolbar color="primary">
    <ion-title>district</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <ion-row>
    <ion-col size-md="10">
      <ionic-selectable
              [(ngModel)]="selectedDistrict"
              itemValueField="id"
              itemTextField="name"
              [items]="districts"
              class=" col-md-10"
              placeholder="Please Select district"
              [canSearch]="true"
              (onChange)="disChange($event)">
      </ionic-selectable>
    </ion-col>
    <ion-col size-md="1" *ngIf="loadingRegionData">
      <ion-spinner name="bubbles"></ion-spinner>
    </ion-col>
    <ion-col size-md="1" align="justify">
      <button class="btn btn-danger" (click)="getDistrictDataByPeriodFilter()">view</button>
    </ion-col>
  </ion-row>
</ion-card>
<ion-content>
  <ion-card-content class="ion-margin">
    <div class="row align-content-center text-center" *ngIf="viewShare == true">
      <ion-fab horizontal="start" vertical="center" slot="fixed" size="small">
        <ion-fab-button color="light">
          <ion-icon name="share"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
          <ion-fab-button color="primary" (click)="shareViaTwitter()">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="primary" (click)="shareViaFacebook()">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="success" (click)="shareViaWhatsapp()">
            <ion-icon  name="logo-whatsapp"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="danger" (click)="shareViaInstagram()">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </div>
  </ion-card-content>

  <div class="card">
    <div class="card-header">
      <h5>Score card table for {{selectedDistrictName}} District</h5>
    </div>
  </div>

  <ion-row>
    <table class="table table-bordered table-responsive" id="district_table">
      <thead>
      <tr>
        <th *ngFor="let headerD of districtDataHeaders">{{headerD}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rowDf of districtDataByFacility; let i = index">
        <td class="{{orgUnitDataColors[i][j]}} align-middle" *ngFor="let columnDf of rowDf; let j = index">{{columnDf}}</td>
        <!--          <td class="{{i == 0 ? '' : ( columnDf == '' ? 'bg-gray': (columnDf >= 70 ? 'bg-green': (columnDf <= 39 ? 'bg-red': 'bg-yellow')))}} align-middle" *ngFor="let columnDf of rowDf; let i = index">{{columnDf}}</td>-->
      </tr>
      </tbody>
    </table>
  </ion-row>
  <ion-card-content class="ion-margin">
    <div class="row align-content-center text-center" *ngIf="viewShare == true">
      <ion-fab horizontal="start" vertical="center" slot="fixed" size="small">
        <ion-fab-button color="light">
          <ion-icon name="share"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
          <ion-fab-button color="primary" (click)="shareTwitterPeriod()">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="primary" (click)="shareViaFacebookPeriod()">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="success" (click)="shareViaWhatsappPeriod()">
            <ion-icon  name="logo-whatsapp"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="danger" (click)="shareViaInstagramPeriode()">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </div>
  </ion-card-content>

  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Score card table for District {{selectedDistrictName}} over the last 12 months</h5>
    </div>
  </div>

  <ion-row>
    <table class="table table-bordered table-responsive" id="district_period">
      <thead>
      <tr>
        <th  *ngFor="let headerDP of districtDataHeadersByPeriod">{{headerDP}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rowDp of districtDataByDistrictPeriod; let i = index">
        <td class="{{periodDataColors[i][j]}} align-middle" *ngFor="let columnDp of rowDp; let j = index">{{columnDp}}</td>
        <!--        <td class="{{i == 0 ? '' : ( columnDp == '' ? 'bg-gray': (columnDp >= 70 ? 'bg-green': (columnDp <= 39 ? 'bg-red': 'bg-yellow')))}} align-middle" *ngFor="let columnDp of rowDp; let i = index">{{columnDp}}</td>-->
      </tr>
      </tbody>
    </table>
  </ion-row>
</ion-content>
