<ion-header>
  <ion-toolbar color="primary">
    <ion-title>district</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <ion-row>
    <ion-col size-md="10">
<!--      <select [(ngModel)]="selectedDistrict" class="form-control">-->
<!--        <option>Please selected District</option>-->
<!--        <option [value]="ouDistrict.id" *ngFor="let ouDistrict of districts">{{ouDistrict.name}}</option>-->
<!--      </select>-->
      <ionic-selectable
              [(ngModel)]="selectedDistrict"
              itemValueField="id"
              itemTextField="name"
              [items]="districts"
              class=" col-md-10"
              [canSearch]="true"
              (onChange)="disChange($event)">
      </ionic-selectable>
    </ion-col>
    <ion-col size-md="2" align="justify">
      <button class="btn btn-danger" (click)="getDistrictDataByPeriodFilter()">view</button>
    </ion-col>
  </ion-row>
</ion-card>
<ion-content>
  <div class="row align-content-center text-center" *ngIf="viewShare == true">
    <div class="col-3">
      <ion-icon size="large" color="primary" slot="icon-only" name="logo-twitter" (click)="shareViaTwitter()"></ion-icon>
    </div>
    <div class="col-3">
      <ion-icon size="large"  color="primary" slot="icon-only" name="logo-facebook" (click)="shareViaFacebook()"></ion-icon>
    </div>
    <div class="col-3">
      <ion-icon size="large" color="success" slot="icon-only" name="logo-whatsapp" (click)="shareViaWhatsapp()"></ion-icon>
    </div>
    <div class="col-3">
      <ion-icon size="large" slot="icon-only" color="danger" name="logo-instagram" (click)="shareViaInstagram()"></ion-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="card-title">Score card table for {{selectedDistrictName}} District</div>
    </div>
  </div>

  <ion-row>
    <table class="table table-bordered table-responsive" id="district_table">
      <thead>
        <tr>
          <th *ngFor="let headerD of districtDataHeaders">{{headerD}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rowDf of districtDataByFacility; let i = index">
          <td class="{{orgUnitDataColors[i][j]}} align-middle" *ngFor="let columnDf of rowDf; let j = index">{{columnDf}}</td>
<!--          <td class="{{i == 0 ? '' : ( columnDf == '' ? 'bg-gray': (columnDf >= 70 ? 'bg-green': (columnDf <= 39 ? 'bg-red': 'bg-yellow')))}} align-middle" *ngFor="let columnDf of rowDf; let i = index">{{columnDf}}</td>-->
        </tr>
      </tbody>
    </table>
  </ion-row>
  <div class="row align-content-center text-center" *ngIf="viewShare == true">
    <div class="col-3">
      <ion-icon size="large" color="primary" slot="icon-only" name="logo-twitter" (click)="shareTwitterPeriod()"></ion-icon>
    </div>
    <div class="col-3">
      <ion-icon size="large" color="primary"  slot="icon-only" name="logo-facebook" (click)="shareViaFacebookPeriod()"></ion-icon>
    </div>
    <div class="col-3">
      <ion-icon size="large" color="success" slot="icon-only" name="logo-whatsapp" (click)="shareViaWhatsappPeriod()"></ion-icon>
    </div>
    <div class="col-3">
      <ion-icon size="large" color="danger" slot="icon-only" name="logo-instagram" (click)="shareViaInstagramPeriode()"></ion-icon>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="card-title">Score card table for District {{selectedDistrictName}} over the last 12 months</div>
    </div>
  </div>

  <ion-row>
    <table class="table table-bordered table-responsive" id="district_period">
      <thead>
      <tr>
        <th  *ngFor="let headerDP of districtDataHeadersByPeriod">{{headerDP}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rowDp of districtDataByDistrictPeriod; let i = index">
        <td class="{{periodDataColors[i][j]}} align-middle" *ngFor="let columnDp of rowDp; let j = index">{{columnDp}}</td>
<!--        <td class="{{i == 0 ? '' : ( columnDp == '' ? 'bg-gray': (columnDp >= 70 ? 'bg-green': (columnDp <= 39 ? 'bg-red': 'bg-yellow')))}} align-middle" *ngFor="let columnDp of rowDp; let i = index">{{columnDp}}</td>-->
      </tr>
      </tbody>
    </table>
  </ion-row>
</ion-content>
