<ion-header>
  <ion-toolbar>
    <ion-title>Indicators</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="card mt-1">
    <div class="card-header mb-5" >
      <div class="card-title"><h4 class="m-0">Liste DHIS Data Elements / Indicators</h4></div>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th class="w-auto">Indicator</th>
          <th class="w-auto">dhis indicator maping</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>dnbjhkkjk</td>
          <td>kjkjdlkjlklkklkll;c,cncnc</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>


