<ion-header>
    <ion-toolbar color="primary">
        <ion-title>region</ion-title>
    </ion-toolbar>
</ion-header>
<ion-card>
    <ion-row>
        <ion-col size-md="10">
            <!--            <select [(ngModel)]="selectedRegion" class="form-control">-->
            <!--                <option>Please selected Region</option>-->
            <!--                <option [value]="ouRegion.id" *ngFor="let ouRegion of regions">{{ouRegion.name}}</option>-->
            <!--            </select>-->
            <ionic-selectable
                    [(ngModel)]="selectedRegion"
                    itemValueField="id"
                    itemTextField="name"
                    [items]="regions"
                    class=" col-md-10"
                    [canSearch]="true"
                    (onChange)="onChange($event)">
            </ionic-selectable>
        </ion-col>
        <ion-col size-md="2" align="justify">
            <button class="btn btn-danger" (click)="getRegionDataByPeriodFilter()">view</button>
        </ion-col>
    </ion-row>
</ion-card>
<ion-content>
    <div class="card-header">
        <div class="row">
            <div class="col-md-10">
                <div class="card-title">Score card table of {{selectedRegionName}} region</div>
            </div>
            <div class="col-md-1">
                <ion-col size="3">
                    <ion-button (click)="shareTwitter()">
                        <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
                    </ion-button>
                </ion-col>
            </div>
        </div>
    </div>
    <ion-row >
        <table class="table table-bordered table-responsive data-mobile-responsive">
            <thead>
            <tr>
                <th *ngFor="let header of regionDataHeaders">{{header}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of regionDataByDistrict; let i = index">
                <td class="{{orgUnitDataColors[i][j]}} align-middle" *ngFor="let column of row; let j = index">{{column}}</td>
                <!--                <td class="{{i == 0 ? '' : ( column == '' ? 'bg-gray': (column >= 70 ? 'bg-green': (column <= 39 ? 'bg-red': 'bg-yellow')))}} align-middle" *ngFor="let column of row; let i = index">{{column}}</td>-->
            </tr>
            </tbody>
        </table>
    </ion-row>
    <div class="card-header">
        <div class="card-title">Score card table of Region {{selectedRegionName}} over the last 12 months</div>
    </div>
    <ion-row>
        <table class="table table-bordered table-responsive">
            <thead>
            <tr>
                <th *ngFor="let header of regionDataHeadersByPeriod">{{header}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of regionDataByDistrictPeriod; let i = index">
                <td class="{{periodDataColors[i][j]}} align-middle" *ngFor="let column of row; let j = index">{{column}}</td>
                <!--            <td class="{{i == 0 ? '' : ( column == '' ? 'bg-gray': (column >= 70 ? 'bg-green': (column <= 39 ? 'bg-red': 'bg-yellow')))}} align-middle" *ngFor="let column of row; let i = index">{{column}}</td>-->
            </tr>
            </tbody>
        </table>
    </ion-row>
</ion-content>
