<ion-header>
    <ion-toolbar color="primary">
        <ion-title>region</ion-title>
    </ion-toolbar>
</ion-header>
<ion-card>
    <ion-row>
        <ion-col size-md="10">
            <ionic-selectable
                    [(ngModel)]="selectedRegion"
                    itemValueField="id"
                    itemTextField="name"
                    [items]="regions"
                    class=" col-md-10"
                    placeholder="Please Select region"
                    [canSearch]="true"
                    (onChange)="onChange($event)">
            </ionic-selectable>
        </ion-col>
        <ion-col size-md="1" *ngIf="loadingRegionData">
            <ion-spinner name="bubbles"></ion-spinner>
        </ion-col>
        <ion-col size-md="1" align="justify">
            <button class="btn btn-danger" (click)="getRegionDataByPeriodFilter()">view</button>
        </ion-col>
    </ion-row>
</ion-card>
<ion-content>
        <ion-card-content class="ion-margin">
            <div class="row align-content-center text-center" *ngIf="viewShare == true">
                <ion-fab horizontal="start" vertical="center" slot="fixed" size="small">
                    <ion-fab-button color="light">
                        <ion-icon name="share"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-list side="end">
                        <ion-fab-button color="primary" (click)="share()">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </ion-fab-button>
                        <ion-fab-button color="primary" (click)="shareViaFacebook()">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </ion-fab-button>
                        <ion-fab-button color="success" (click)="shareViaWhatsapp()">
                            <ion-icon  name="logo-whatsapp"></ion-icon>
                        </ion-fab-button>
                        <ion-fab-button color="danger" (click)="shareViaInstagram()">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </ion-fab-button>
                    </ion-fab-list>
                </ion-fab>
            </div>
        </ion-card-content>
    <div class="card">
        <div class="card-header">
            <h5>Score card table for {{selectedRegionName}} region by district</h5>
        </div>
    </div>
    <ion-row>

        <table class="table table-bordered table-responsive data-mobile-responsive bg-white" id="score_table">
            <thead>
            <tr>
                <th *ngFor="let header of regionDataHeaders">{{header}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of regionDataByDistrict; let i = index">
                <td class="{{orgUnitDataColors[i][j]}} align-middle" *ngFor="let column of row; let j = index">{{column}}</td>
                <!--                <td class="{{i == 0 ? '' : ( column == '' ? 'bg-gray': (column >= 70 ? 'bg-green': (column <= 39 ? 'bg-red': 'bg-yellow')))}} align-middle" *ngFor="let column of row; let i = index">{{column}}</td>-->
            </tr>
            </tbody>
        </table>
    </ion-row>
    <ion-card-content class="ion-margin">
        <div class="row align-content-center text-center" *ngIf="viewShare == true">
            <ion-fab horizontal="start" vertical="center" slot="fixed" size="small">
                <ion-fab-button color="light">
                    <ion-icon name="share"></ion-icon>
                </ion-fab-button>
                <ion-fab-list side="end">
                    <ion-fab-button color="primary" (click)="shareTwitterPeriod()">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-button color="primary" (click)="shareViaFacebookPeriod()">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-button color="success" (click)="shareViaWhatsappPeriod()">
                        <ion-icon  name="logo-whatsapp"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-button color="danger" (click)="shareViaInstagramPeriode()">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </ion-fab-button>
                </ion-fab-list>
            </ion-fab>
        </div>
    </ion-card-content>

    <div class="card-header">
        <div class="row">
            <div class="col-md-1O">
                <h5>Score card table for Region {{selectedRegionName}} over the last 12 months</h5>
            </div>
        </div>
    </div>
    <ion-row>
        <table class="table table-bordered table-responsive data-mobile-responsive bg-white" id="region_period">
            <thead>
            <tr>
                <th *ngFor="let header of regionDataHeadersByPeriod">{{header}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of regionDataByDistrictPeriod; let i = index">
                <td class="{{periodDataColors[i][j]}} align-middle" *ngFor="let column of row; let j = index">{{column}}</td>
            </tr>
            </tbody>
        </table>
    </ion-row>
</ion-content>
