.bg-gray{
  background-color: darkgray;
  color: white;
  text-align: center;
  font-family: Verdana, sans-serif;
}
.bg-green{
  background-color: #05c46b;
  color: white;
  text-align: center;
  font-family: Verdana, sans-serif;
}
.bg-red{
  background-color: #ff3f34;
  color: white;
  text-align: center;
  font-family: Verdana, sans-serif;
}
.bg-yellow{
  background-color: #ffdd59;
  color: black;
  text-align: center;
  font-family: Verdana, sans-serif;
}
.table{
  font-size: 10px;
}
