<ion-slides>
  <ion-slide>
    <img src="assets/images/malariaSc_logo.png" />
    <h2>Welcome to Malaria Score Card</h2>
  </ion-slide>
</ion-slides>

<ion-content padding='true'>
  <form class="mr-2 ml-2">
    <ion-list>
<!--      <ion-item class="form-group">-->
        <ion-label position="stacked" class="p-2">Please enter Url</ion-label><br>
        <ion-input class="form-control" autocomplete="off" type="text" [(ngModel)]="inputUrl" name="dhisUrl"></ion-input>
<!--      </ion-item>-->

<!--      <ion-item>-->
        <ion-label position="stacked" class="p-2">Username</ion-label><br>
        <ion-input class="form-control" autocomplete="off" type="text" [(ngModel)]="loginData.username" name="username"></ion-input>
<!--      </ion-item>-->

<!--      <ion-item>-->
        <ion-label position="stacked" class="p-2" >Password</ion-label><br>
        <ion-input class="form-control" autocomplete="off" type="password" [(ngModel)]="loginData.password" name="password"></ion-input>
<!--      </ion-item>-->
    </ion-list>
    <ion-button class="form-control" color="primary" share="round" expand="block" (click)="login()">Login</ion-button>
<!--    <ion-button color="dark" type="reset" class="p-2 ml-4" share="round">Cancel</ion-button>-->
<!--    " share="round" expand="block"-->
  </form>
<!--    <ion-fab horizontal="center" vertical="center" slot="fixed">-->
<!--        <ion-fab-button color="light">-->
<!--            <ion-icon name="share"></ion-icon>-->
<!--        </ion-fab-button>-->
<!--        <ion-fab-list side="top">-->
<!--            <ion-fab-button color="primary">-->
<!--                <ion-icon name="logo-vimeo"></ion-icon>-->
<!--            </ion-fab-button>-->
<!--        </ion-fab-list>-->
<!--        <ion-fab-list side="end">-->
<!--            <ion-fab-button color="dark">-->
<!--                <ion-icon name="logo-twitter"></ion-icon>-->
<!--            </ion-fab-button>-->
<!--        </ion-fab-list>-->
<!--        <ion-fab-list side="bottom">-->
<!--            <ion-fab-button color="secondary">-->
<!--                <ion-icon name="logo-facebook"></ion-icon>-->
<!--            </ion-fab-button>-->
<!--        </ion-fab-list>-->
<!--        <ion-fab-list side="start">-->
<!--            <ion-fab-button color="light">-->
<!--                <ion-icon name="logo-google"></ion-icon>-->
<!--            </ion-fab-button>-->
<!--        </ion-fab-list>-->
<!--    </ion-fab>-->
</ion-content>
