ion-slide {
  padding: 30px 20px 0px 20px;
  margin-bottom: 30px;
  display: block;
  img {
    width: 100px;
  }
  h2 {
    font-size: 36px;
    font-weight: bold;
  }
}
ion-content {
  img {
    width: 100px;
    //padding-left: 100px;
    margin-left: 130px;
  }
}
