<ion-slides>
  <ion-slide>
    <img src="assets/images/malariaSc_logo.png" />
    <h2>Welcome to Malaria Score Card</h2>
  </ion-slide>
</ion-slides>

<ion-content padding='true'>
  <form class="mr-2 ml-2">
    <ion-list>
        <ion-label position="stacked" class="p-2">Please enter Url</ion-label><br>
        <ion-input class="form-control" autocomplete="off" type="text" [(ngModel)]="inputUrl" name="dhisUrl"></ion-input>
        <ion-label position="stacked" class="p-2">Username</ion-label><br>
        <ion-input class="form-control" autocomplete="off" type="text" [(ngModel)]="loginData.username" name="username"></ion-input>
        <ion-label position="stacked" class="p-2" >Password</ion-label><br>
        <ion-input class="form-control" autocomplete="off" type="password" [(ngModel)]="loginData.password" name="password"></ion-input>
    </ion-list>
    <ion-button color="primary" share="round" expand="block" (click)="login()">Login</ion-button>
  </form>
</ion-content>
