<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="welcome">
      <ion-icon name="list"></ion-icon>
      <ion-label>List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="region">
      <ion-icon name="medkit"></ion-icon>
      <ion-label>Region</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="district">
      <ion-icon name="medkit"></ion-icon>
      <ion-label>District</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="facility">
      <ion-icon name="medkit"></ion-icon>
      <ion-label>Facility</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>Log-out</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
